[submodule "utility"]
	path = utility
	url = https://github.com/N-BodyShop/utility.git
[submodule "hypercomm-aggregation"]
	path = hypercomm-aggregation
	url = https://github.com/Wingpad/hypercomm-aggregation.git
